#wrapper {
    width:100%;
    height:100%;
    background-color:#FFFFFF ;
}



#header {
    background-color: #FE5E41;
    position: absolute;
    width: 1440px;
    height: 120px;
    left: 0px;
    top: 0px;
}


nav ul{
    color:#FFFFFF;
    display: inline;
}

#products {
    position: absolute;
    width: 79px;
    height: 24px;
    left: 320px;
    top: 49px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #1E1E1E;
}

#services {
    position: absolute;
    width: 76px;
    height: 24px;
    left: 439px;
    top: 49px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

#aboutus {
    position: absolute;
    width: 79px;
    height: 24px;
    left: 555px;
    top: 49px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

#contact {
    position: absolute;
    width: 70px;
    height: 24px;
    left: 674px;
    top: 49px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

#logo {
    position: absolute;
    width: 150px;
    height: 40px;
    left: 112px;
    top: 40px;
    color: #FFFFFF;
    vertical-align: middle;
}

#main {
    width:706px;
    height:1242;
}

#sidebar {
    width:734px;
    height:1242;
}

#footer {
    position: absolute;
    width: 1440px;
    height: 460px;
    left: 0px;
    top: 1370px;

    background: #F2F2F2;
}


